<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>J.A.R.V.I.S | On Page - Off Page</title>
	<meta name="description" content="on page, off page, technique, etc..">
	<meta name="author" content="Rjay Acaba">
	<!-- CSS  -->
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
   <!-- Dropdown Structure -->
  <ul id="dropdown-1" class="dropdown-content">
    <li><a href="/">All about SEO</a></li>
    <li><a href="/search-engine-marketing">Search Engine Marketing</a></li>
    <li><a href="/on-page-off-page-techniques">On-page vs Off-page</a></li>
    <li><a href="/mobile-responsive-tools">Mobile Responsive Tools</a></li>
    <li><a href="/use-of-tags-and-backlinking">Use of Tags and Backlinking</a></li>
    <li><a href="/organic-traffic">Organic Traffic</a></li>
    <li><a href="/article7">Website without SEO</a></li>
    <li><a href="/website-needs-seo">Website needs SEO</a></li>
    <li><a href="/seo-ethics">SEO Ethics</a></li>
    <li><a href="/article10">Component of a Successful Blog</a></li>
  </ul>
  <!-- Dropdown Structure -->
  <ul id="dropdown-2" class="dropdown-content">
    <li><a href="/">All about SEO</a></li>
    <li><a href="/search-engine-marketing">Search Engine Marketing</a></li>
    <li><a href="/on-page-off-page-techniques">On-page vs Off-page</a></li>
    <li><a href="/mobile-responsive-tools">Mobile Responsive Tools</a></li>
    <li><a href="/use-of-tags-and-backlinking">Use of Tags and Backlinking</a></li>
    <li><a href="/organic-traffic">Organic Traffic</a></li>
    <li><a href="/article7">Website without SEO</a></li>
    <li><a href="/website-needs-seo">Website needs SEO</a></li>
    <li><a href="/seo-ethics">SEO Ethics</a></li>
    <li><a href="/article10">Component of a Successful Blog</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">J.A.R.V.I.S</a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" id="menu">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>   
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown-2">Discussion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="active"><a href="/">Home</a></li>   
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="/" data-activates="dropdown-1">Discussion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
    </div>
  </nav>


  <!-- navigation -->
  <nav class="container z-depth-5">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#main-col" class="breadcrumb">Discussion</a>
        <a href="#main-col" class="breadcrumb">SEO Ethics</a>
      </div>
    </div>
  </nav><br><br>

  <div>
  	<div class="container">
  		<article>
  			<h5 class="brown-text">Search Engine Optimization Ethics Are in the Eye of the Beholder</h5><br><hr>
  			<div class="parallax-container">
          		<div class="parallax"><img src="img/on-off.png" width="auto"></div>
        	</div><hr><br>
          <p class="mean">Smart and competitive package? This guy had to be kidding me, right?
Anyone who knows me can reasonably assume that I will respond to most search
engine optimization (SEO) and/or link buying pitches with one of the
following responses: (a) Hit the delete button, or (b) Report search engine
spam. Of course, the delete-button decision would have been more efficient.
But I was in one of my moods. I really hate CSS browser incompatibilities.</p><br>
        <p class="mean">Plenty of SEO professionals consider themselves to be ethical search
engine marketers. Labeling a company as an "ethical search engine marketing
(SEM) firm" is a great sales pitch as it implies credibility in this
industry. The label communicates knowledge and expertise, that the SEO/SEM
firm understands all search engine guidelines. The label communicates that
the SEO/SEM firm is trustworthy.</p><br>
      <p class="mean">Additionally, being an ethical SEO/SEM often depends on circumstances.
One SEO professional’s circumstances are not the same as another SEO
professional’s circumstances.</p><br>
      <p class="mean">For example, I know some in-house SEOs whose job it is to optimize Flash
sites and/or sites with a horrendous content management system. I know
people who are told by management to make their sites number one, but they
cannot change the appearance of the site at all (no keyword/copywriting
changes — nothing). Their job is to optimize web sites under these
circumstances. Management, or the powers-that-be, do not want to hear their
excuses about search engine guidelines. They just want these in-house SEOs
to do their jobs.</p><br><br>

      <p class="sub-topic">White Hat SEO Is SEO 101</p><br>
      <p class="mean">"Chasing the current loopholes just doesn’t cut it for the clients
we’re going after," Dafforn continued. "I can’t imagine telling a large
client, ‘Remember the re-architecture implementation that we recommended
that cost you $40,000 eight months ago? Well, let’s do it all over again
before this loophole closes.’"</p><br>
      <p class="mean">"We do our very best to stay out of the fray …. we used to really
toot the "white hat" horn, but it became so morally charged that we just
tried to gently excuse ourselves from the conversation. It’s frustrating
to be considered ‘out the loop’ or less technically savvy than other
crowds, but to be quite honest, we’re not, and people can believe or
refute that at their leisure.</p>

      <p class="mean">"White hat SEO does not mean SEO 101," he continued. "There are
          advanced, very sophisticated search marketers doing white hat work. And
          there are very advanced people doing black hat work. The big
          differentiator for me is that white hats work with the user in mind. They
          don’t necessarily have to always agree with what the search engines
          dictate — but they do have to keep relevance at the fore and a
          user-centric viewpoint. To me it’s the most long-lasting way to deploy
          search marketing campaigns, rather than always trying to out-maneuver a
          search engine."</p>
      <br><br>
  	</div>
  </div>

  <section class="grey-bg">
  	<div class="container"><br><br>
  		<article>
        <h3>Articles which may be of interest to you</h3>
        <ul>
          <li><a href="/on-page-off-page-techniques">On page and Off page in SEO</a></li>
          <li><a href="/">What is Search Engine Optimization</a></li>
          <li><a href="/website-needs-seo">Search engines can't figure out a website without SEO.</a></li>
        </ul>
  		</article>
  	</div>
  </section>


  <!-- Footer -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>