<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>J.A.R.V.I.S | On Page - Off Page</title>
	<meta name="description" content="on page, off page, technique, etc..">
	<meta name="author" content="Rjay Acaba">
	<!-- CSS  -->
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

   <!-- Dropdown Structure -->
  <ul id="dropdown-1" class="dropdown-content">
    <li><a href="/">All about SEO</a></li>
    <li><a href="/search-engine-marketing">Search Engine Marketing</a></li>
    <li><a href="/on-page-off-page-techniques">On-page vs Off-page</a></li>
    <li><a href="/mobile-responsive-tools">Mobile Responsive Tools</a></li>
    <li><a href="/use-of-tags-and-backlinking">Use of Tags and Backlinking</a></li>
    <li><a href="/organic-traffic">Organic Traffic</a></li>
    <li><a href="/article7">Website without SEO</a></li>
    <li><a href="/website-needs-seo">Website needs SEO</a></li>
    <li><a href="/seo-ethics">SEO Ethics</a></li>
    <li><a href="/article10">Component of a Successful Blog</a></li>
  </ul>
  <!-- Dropdown Structure -->
  <ul id="dropdown-2" class="dropdown-content">
    <li><a href="/">All about SEO</a></li>
    <li><a href="/search-engine-marketing">Search Engine Marketing</a></li>
    <li><a href="/on-page-off-page-techniques">On-page vs Off-page</a></li>
    <li><a href="/mobile-responsive-tools">Mobile Responsive Tools</a></li>
    <li><a href="/use-of-tags-and-backlinking">Use of Tags and Backlinking</a></li>
    <li><a href="/organic-traffic">Organic Traffic</a></li>
    <li><a href="/article7">Website without SEO</a></li>
    <li><a href="/website-needs-seo">Website needs SEO</a></li>
    <li><a href="/seo-ethics">SEO Ethics</a></li>
    <li><a href="/article10">Component of a Successful Blog</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">J.A.R.V.I.S</a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" id="menu">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>   
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown-2">Discussion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="active"><a href="/">Home</a></li>   
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="/" data-activates="dropdown-1">Discussion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
    </div>
  </nav>


  <!-- navigation -->
  <nav class="container z-depth-5">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#main-col" class="breadcrumb">Discussion</a>
        <a href="#main-col" class="breadcrumb">SEO Ethics</a>
      </div>
    </div>
  </nav><br><br>

  <div>
  	<div class="container">
  		<article>
  			<h5 class="brown-text">Components of a Successful Blog</h5><br><hr>
  			<div class="parallax-container">
          		<div class="parallax"><img src="img/on-off.png" width="auto"></div>
        	</div><hr><br>
          <p class="sub-topic">Must Have Components for a Successful Blog Post</p><br>
          <p><strong>#1 FOCUS </strong></p><br>
          <p class="mean">You can’t just ramble on aimlessly and expect people to follow your train of thought.

Good blog posts are focused and straight to the point. They present a solid idea, they present supporting evidence and they finish with a powerful conclusion that sums it all up.

To maintain focus throughout the piece, you may want to create an outline prior to getting started with writing.</p><br><br>
        <p class="sub-topic">#2 UNIQUE PERSPECTIVE </p><br>
        <p class="mean">Even if you are discussing a common topic, you should have something different and unorthodox to add. Maybe you’ll support the unpopular opinion. Maybe you’ll look at an issue from a different perspective. Or eventually, you’ll talk to an expert about the topic to gain better insight.</p><br>
        <p class="mean">Why should people read your blog post about a certain topic rather than somebody else’s? The answer is simple – you have something unique to offer.</p>
        <p class="mean">Whichever approach you choose, make sure that your content is different from all of the other texts about the very same topic.</p><br><br>

        <p>Last but not the least is the <strong>Catchy Title</strong></p><br>
        <p class="mean">Today’s audience has a short attention span. It will give you just a few seconds to grab its interest. The only way to accomplish the goal involves writing a catchy headline. If you promise people something interesting, entertaining or useful, they’ll be willing to give your content a try. A little bit of humor sprinkled through the title isn’t going to hurt either.</p><br>
      <br><br>
  	</div>
  </div>

  <section class="grey-bg">
  	<div class="container"><br><br>
  		<article>
        <h3>Articles which may be of interest to you</h3>
        <ul>
          <li><a href="/on-page-off-page-techniques">On page and Off page in SEO</a></li>
          <li><a href="/">What is Search Engine Optimization</a></li>
          <li><a href="/website-needs-seo">Search engines can't figure out a website without SEO.</a></li>
        </ul><br><br><br><br><br><span><span></span></span>







          <div class="fb-comments" data-href="http://localhost:5000/article10" data-width="100%" data-numposts="5"></div>


  		</article>
  	</div>
  </section>


  <!-- Footer -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>