<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>J.A.R.V.I.S | On Page - Off Page</title>
	<meta name="description" content="on page, off page, technique, etc..">
	<meta name="author" content="Rjay Acaba">
	<!-- CSS  -->
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
   <!-- Dropdown Structure -->
  <ul id="dropdown-1" class="dropdown-content">
    <li><a href="/">All about SEO</a></li>
    <li><a href="/search-engine-marketing">Search Engine Marketing</a></li>
    <li><a href="/on-page-off-page-techniques">On-page vs Off-page</a></li>
    <li><a href="/mobile-responsive-tools">Mobile Responsive Tools</a></li>
    <li><a href="/use-of-tags-and-backlinking">Use of Tags and Backlinking</a></li>
    <li><a href="/organic-traffic">Organic Traffic</a></li>
    <li><a href="/article7">Website without SEO</a></li>
    <li><a href="/website-needs-seo">Website needs SEO</a></li>
    <li><a href="/seo-ethics">SEO Ethics</a></li>
    <li><a href="/article10">Component of a Successful Blog</a></li>
  </ul>
  <!-- Dropdown Structure -->
  <ul id="dropdown-2" class="dropdown-content">
    <li><a href="/">All about SEO</a></li>
    <li><a href="/search-engine-marketing">Search Engine Marketing</a></li>
    <li><a href="/on-page-off-page-techniques">On-page vs Off-page</a></li>
    <li><a href="/mobile-responsive-tools">Mobile Responsive Tools</a></li>
    <li><a href="/use-of-tags-and-backlinking">Use of Tags and Backlinking</a></li>
    <li><a href="/organic-traffic">Organic Traffic</a></li>
    <li><a href="/article7">Website without SEO</a></li>
    <li><a href="/website-needs-seo">Website needs SEO</a></li>
    <li><a href="/seo-ethics">SEO Ethics</a></li>
    <li><a href="/article10">Component of a Successful Blog</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">J.A.R.V.I.S</a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" id="menu">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>   
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown-2">Discussion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="active"><a href="/">Home</a></li>   
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="/" data-activates="dropdown-1">Discussion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
    </div>
  </nav>


  <!-- navigation -->
  <nav class="container z-depth-5">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#main-col" class="breadcrumb">Discussion</a>
        <a href="#main-col" class="breadcrumb">Website without SEO</a>
      </div>
    </div>
  </nav><br><br>

  <div>
  	<div class="container">
  		<article>
  			<h5 class="brown-text">Search engine can't figure out a website without SEO</h5><br><hr>
  			<div class="parallax-container">
          		<div class="parallax"><img src="img/on-off.png" width="auto"></div>
        	</div><hr><br>
  			 <p class="mean">Search engines are smart, but they still need help. The major engines are always working towards improving their technology to crawl the web more deeply and return better results to users. However, there is a limit to how search engines can operate. Whereas the right SEO can net you thousands of visitors and attention, the wrong moves can hide or bury your site deep in the search results where visibility is minimal.</p><br><br>

         <p class="mean">In addition to making content available to search engines, SEO also helps boost rankings so that content will be placed where searchers will more readily find it. The Internet is becoming increasingly competitive, and those companies who perform SEO will have a decided advantage in visitors and customers.</p>
      <br><br>
  	</div>
  </div>

  <section class="grey-bg">
  	<div class="container"><br><br>
  		<article>
        <h3>Articles which may be of interest to you</h3>
        <ul>
          <li><a href="/on-page-off-page-techniques">On page and Off page in SEO</a></li>
          <li><a href="/">What is Search Engine Optimization</a></li>
          <li><a href="/website-needs-seo">Search engines can't figure out a website without SEO.</a></li>
        </ul>
  		</article>
  	</div>
  </section>


  <!-- Footer -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>