<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>J.A.R.V.I.S | Search Engine Optimization</title>
	<!-- CSS  -->
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">All about SEO</a></li>
    <li><a href="/search-engine-marketing">Search Engine Marketing</a></li>
    <li class="divider"></li>
    <li><a href="/on-page-off-page-techniques">On-page vs Off-page</a></li>
  </ul>
  <nav>
    <div class="container nav-wrapper">
      <a href="#!" class="brand-logo">J.A.R.V.I.S</a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>   
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Discussion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
    </div>
  </nav>

  <div class="parallax-container">
      <div class="parallax"><img src="img/int.jpg"></div>
  </div>

<div class="container">

      <hr>
        <article>
          <h1 class="teal-txt lighten-3" id="intro">What is search engine optimization?</h1>
        </article>
      <hr>

    <div class="parallax-container">
        <div class="parallax"><img src="img/seo.jpg"></div>
    </div>

    <h4><p><strong class="brown-text">SEO</strong> stands for “search engine optimization.” It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines. In general, the earlier (or higher ranked on the search results page), and more frequently a site appears in the search results list, the more visitors it will receive from the search engine's users; these visitors can then be converted into customers.</p></h4>


    <h5 class="brown-text" id="guidelines">Guidelines on how to read a Search Engine Results Page.</h5>
    <b>1. Understanding an individual search result</b>
    <p>Result block on a search  result page that consist of three major elements</p>
    <p><i>Figure:</4> As we notice that when we use our mouse to point at a particular search result, called result block. A single result block consist primarily of the title, URL, and snippet(some contents of the blog).</p>

    <p><b>Title:</b> The blue text color that has underline gives you the topic of the page.</p>
    <p><b>Web address/URL:</b> The second line or the green text tells you location of the document on the web. This line can help you determine the source of information.</p>
    <p><b>Snippet:</b>The last two lines, the black text, show you some content of the places where your search terms appear on the page. Some of the snippets contains ellipses that means that the text is taken out and replaced by the ellipses(...).</p>

    <b>2. Using an entire results page</b>
    <p>Is is not only helpful to know how to understand a single result page, but you can learn a lot from taking a moment to look over an entire page full of results.</p>
    
    <p>As you see, the first result mentions "List of Dog Profiles". First of all we need to understand how a breed of dog is defined ... or whom.</p>
    <p>I hope that this lesson demonstrated that the search results page is an interesting information set and of itself. By looking through the different results, you can now extract a sense for where your question can be most possibly be answered.</p>


    <h5 class="brown-text" id="business">How SEO affects business?</h5>
    <p>If you are in business, there are some very real and specific to having a consistent ongoing Search Engine Optimization strategy. For the first time in history of marketing, users are offering up their actual intent through the words that they type into search engines. And more than ever before, you can measure the result of your SEO efforts as a marketing channel. While search engines dont charge you for listing your web pages, planning and implementing SEO in your organization is certainly not free. You'll ned to spend the time, money, and resources to do this the right way.</p>
    <p>The good news is that this can help you obtain a tremendous marketing reach, attract more targeted visitors, and measure the impact of your efforts in terms of a return on your investment. More and more content appears on the web every second of everyday. And your costumers need search engines to help make sense of it all. In fact, the bigger the web gets, the more search engines usage continues to grow. People search to find answers to their questions.</p>

    <h5 class="brown-text" id="list">List of some important SEO expectation:</h5>
      <ol class="circle">
        <li>Speed of Ranking Increases</li>
        <li>Number of keywords targeted</li>
        <li>Number of leads</li>
        <li>Set realistic goals</li>
        <li>Measure the right thing</li>
        <li>Set a baseline</li>
        <li>Pulling it together</li>
      </ol>
      <p><i>Some references that can help you: <a href="seo-mat.herokuapp.com">[Clike for more info..]</a></i></p>
</div>

  <!-- <div class="row">
    <div class="col s12 m9 l10">
      <div id="introduction" class="section scrollspy">
        <p>Content </p>
      </div>

      <div id="structure" class="section scrollspy">
        <p>Content </p>
      </div>

      <div id="initialization" class="section scrollspy">
        <p>Content </p>
      </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#intro">Definition of SEO</a></li>
        <li><a href="#structure">Guidelines of SEO</a></li>
        <li><a href="#business">Intialization</a></li>
        <li><a href="#list">Intialization</a></li>
      </ul>
    </div>
  </div> -->



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>  
</body>
</html>