<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>J.A.R.V.I.S | Search Engine Marketing</title>
	<!-- CSS  -->
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">All about SEO</a></li>
    <li><a href="#!">Search Engine Marketing</a></li>
    <li class="divider"></li>
    <li><a href="/on-page-off-page-techniques">On-page vs Off-page</a></li>
  </ul>
  <nav>
    <div class="container nav-wrapper">
      <a href="/" class="brand-logo">J.A.R.V.I.S</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>   
        <!-- Dropdown Trigger -->
        <li class="active"><a class="dropdown-button" href="#!" data-activates="dropdown1">Discussion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
    </div>
  </nav>

  <div class="parallax-container">
      <div class="parallax"><img src="img/intro-bg.jpg" width="20pt"></div>
  </div>

  <nav class="container z-depth-5">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#" class="breadcrumb">Home</a>
        <a href="#main-col" class="breadcrumb">Discussion</a>
        <a href="#main-col" class="breadcrumb">Search Engine Marketing</a>
      </div>
    </div>
  </nav>
  <!-- Main Topic -->
<section class="white-bg">
  <div class="container" align="center">
    <article>
      
        <h1 class="brown-text">DIFFERENCE BETWEEN SEO AND SEM</h1>
        <div class="parallax-container">
          <div class="parallax"><img src="img/seo-sem.png"></div>
        </div>
        <h3><p class="flow-text">The difference between SEO and SEM is simply that Search Engine Optimization is part of Search engine marketing or Search marketing as it is widely known. Both processes aim in increasing visibility in search engines.</p></h3>
        <h5><p>SEO is about optimizing your website to get better rankings in the search results while SEM goes beyond SEO. It involves other methods that can get you more search engine visitors like PPC advertising.</p></h5>
    </article>
  </div>
</section>
<section class="grey-bg">
  <div class="container">
    <article>
        <br><br><br>
        <h5 class="brown-text">Search Engine Optimization Strategies</h5>
        <br>
        <b class="sub-topic" align="left">Domain name strategy</b>
        <p class="mean">Utilizing area name administrations sets your business up for progress where everything starts, your site's name. - An area name procedure can enhance the presence of your site by exploiting the most noticeable part, the address. - You likewise need to set up and defend your spaces so you have a safe nearness on the web.</p><br>
        <b class="sub-topic">Linking Strategies</b>
        <p class="mean">Links are an incredibly important factor to improve search performance, and they seem to be making a resurgence this year. If you’ve never executed a link building strategy it’s important to know all the facts, because link building is inherently risky, and only the highest quality of tactics are recommended. These resources will help beginners understand a bit more; it pays to read them before executing any campaign.</p><br>

        <b class="sub-topic">Keyword Strategy</b>
        <p class="mean">Watchword Strategy are basic to creating winning internet searcher showcasing efforts. Your catchphrase procedure ought to include choosing high-performing watchwords that drive pertinent activity to your business. Picking the correct watchwords for publicizing can have a significant effect in your battles, deciding how well your commercials rank on Google and other web search tool stages.</p><br>

        <b class="sub-topic">Title tags Strategy</b>
        <p class="mean">Title labels are practically precisely what they seem like — the title of the page. As a title, this tag ought to be utilized to portray what a client can hope to discover on a specific page.When composing title labels in light of SEO, your first objective ought to be to precisely depict the substance of the page being referred to — whether it's an item, gathering or instructive page. It's likewise essential to discover approaches to actually mesh in important watchwords into the tag at whatever point conceivable.</p>

        <b class="sub-topic">Meta description tags Startegy</b>
        <p class="mean">A meta description is a type of meta tag used in HTML to describe what the web page is about. It appears as a quick snippet on the SERPs right beneath the link. Meta descriptions are not a ranking factor per se, as they have a very minimal impact on rankings, though they may have some impacts with personalized search results. Their main function is telling searchers what your web page is about. Having compelling meta descriptions aids in the click-through rate to your site. Think of your meta descriptions as a sales pitch for searchers, not as ranking factors for crawlers.</p>

        <b class="sub-topic">Alt tags Strategy</b>
        <p class="mean">The “Alt” tag is an older HTML coding strategy originally envisioned to compensate for users and browsers not equipped to handle images. And while all of today’s web browsing includes many types of graphics, the alt tag remains an important part of making a site accessible to all users. The alt tag  is a descriptive line of HTML code that describes an image on a web page so that the user knows what the image represents if the picture doesn’t display correctly.</p>

        <b class="sub-topic">Search Engine Indexing Strategy</b>
        <p class="mean">The ordering instrument is dormant semantic ordering. In inactive semantic ordering web indexes, decide the connection between various elements or part of a blog content. By understanding this connection between various substances, web crawlers comprehend the setting importance of the blog content effortlessly. Once the substance is seen legitimately via web indexes, it is simple for them to return precise outcomes for long tail watchwords.</p><br><br>
    </article>
  </div>
</section>
<br>
<section>
  <div class="container">
    <article><br><br>
      <h5 class="brown-text" align="center">IS IT POSSIBLE TO COMBINE STRATEGIES IF YES WHICH STRATEGIES WOULD YOU LIKE TO IMPLEMENT? WHY?</h5><br>
      <p class="mean" id="section-3">Yes, I would join Keyword procedure and Meta depiction labels system in light of the fact that is Keyword inquire about is the initial step to an effective SEO methodology. Those fruitful with SEO comprehend what individuals are hunting down while finding their business in a web index and Meta labels still assume a key part in SEO. In the event that you write any catchphrase into an internet searcher, you'll perceive how that watchword is reflected in the title for that page.</p><br><br><br>
    </article>
  </div>
</section><br><br><br>
<div class="feedback">
  <div class="container" id="comment1"><br><br>
    <h3 id="pinky" align="center">I'd Love to Hear From You!</h3>
    <h5 id="whity">If there's any problem or feedback, just leave your comment about below.</h5>
    <h5 id="whity">Please fill up this form so I can improve my work.</h5><br>

    <div class="row">
      <form class="col s12" action="/">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Name</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <input id="icon_email" type="tel" class="validate">
            <label for="icon_email">Email</label>
          </div>
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Comment</label>
          </div>
          <div class="buttonHolder">
          <button class="btn waves-effect pink accent-2" type="submit" name="action" id="button" align="center">Submit
            <i class="material-icons right">send</i>
          </button>
          </div>
      </form>
    </div>
  </div>
</div>




  	
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>