<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>J.A.R.V.I.S | Tags and Backlinking</title>
	<meta name="author" description="Rjay Acaba">
	<meta name="content" description="use of tags and backlinking">
	<meta name="keywords" description="tags, backlinking, etc.">
	<!-- CSS  -->
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- Dropdown Structure -->
  <ul id="dropdown-1" class="dropdown-content">
    <li><a href="/">All about SEO</a></li>
    <li><a href="/search-engine-marketing">Search Engine Marketing</a></li>
    <li><a href="/on-page-off-page-techniques">On-page vs Off-page</a></li>
    <li><a href="/mobile-responsive-tools">Mobile Responsive Tools</a></li>
    <li><a href="/use-of-tags-and-backlinking">Use of Tags and Backlinking</a></li>
  </ul>
  <!-- Dropdown Structure -->
  <ul id="dropdown-2" class="dropdown-content">
    <li><a href="/">All about SEO</a></li>
    <li><a href="/search-engine-marketing">Search Engine Marketing</a></li>
    <li><a href="/on-page-off-page-techniques">On-page vs Off-page</a></li>
    <li><a href="/mobile-responsive-tools">Mobile Responsive Tools</a></li>
    <li><a href="/use-of-tags-and-backlinking">Use of Tags and Backlinking</a></li>
  </ul>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">J.A.R.V.I.S</a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" id="menu">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>   
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown-2">Discussion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="active"><a href="/">Home</a></li>   
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="/" data-activates="dropdown-1">Discussion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
    </div>
  </nav>

  <!-- navigation -->
  <nav class="container z-depth-5">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#" class="breadcrumb">Discussion</a>
        <a href="#main-col" class="breadcrumb">Use of tags and backlinking</a>
      </div>
    </div>
  </nav><br><br>

  <div>
    <div class="container">
      <article>
        <h1 class="brown-text" align="center">Importance URL Canonicalization</h1><hr>
        <div>
          <img src="img/topic-canon.jpg" alt="Canonicalization image" height="550px" width="1065px">
        </div><br><hr>
        <p class="flow-text">An accepted tag (otherwise known as "rel standard") is a method for telling web search tools that a particular URL speaks to the ace duplicate of a page. Utilizing the sanctioned tag forestalls issues caused by indistinguishable or "copy" content showing up on numerous URLs. For all intents and purposes, the standard label tells web indexes which variant of a URL you need to show up in query items.</p><br>

        <p class="sub-topic">HTTP status code</p>
        <p class="mean">status code implies the server comprehends the substance sort of the demand element (subsequently a 415(Unsupported Media Type) status code is wrong), and the linguistic structure of the demand element is right.</p>
        <p>You can see the list of HTTP Status Code <a href="http://www.restapitutorial.com/httpstatuscodes.html"><i>here.</i></a></p><br>

          <h5 class="brown-text text-lighten 4" id="lefty">SEO's Important HTML elements</h5><br>
          <p class="sub-topic">Title tag</p>
          <p class="mean">A title tag is a HTML component that indicates the title of a website page. Title labels are shown on internet searcher comes about pages (SERPs) as the interactive feature for a given outcome, and are essential for ease of use, SEO, and social sharing. The title tag of a site page is intended to be an exact and brief depiction of a page's substance.</p>

          <p class="sub-topic">Meta Description Tag</p>
          <p class="mean">The meta portrayal label serves the capacity of publicizing duplicate. It attracts perusers to a site from the SERP, and consequently is an exceptionally noticeable and imperative piece of hunt promoting. Making a comprehensible, convincing portrayal utilizing imperative watchwords can enhance the active visitor clicking percentage for a given page.</p>

          <p class="sub-topic">Image</p>
          <p class="mean">It represents image in an html file.</p>

          <p class="sub-topic">Text Link</p>
          <p class="mean">This text link helps for redirection for a certain division of your page or redirecting you to another page.</p>

          <p class="sub-topic">NoFollowed Link</p>
          <p class="mean">A no take after connection is a connection that does not include as a point the page's support, does not support PageRank, and doesn't help a page's position in the SERPs.</p>

          <p class="sub-topic">Image Link</p>
          <p class="mean">In this element, it can also be a way of interacting the user to click an image and link it to a certain section/division of the same page or another page.</p><br><br>

          <p class="sub-topic">Hyperlinking in SEO</p>
          <p class="mean">A hyperlink is a standout amongst the most imperative components in web search tool positioning. Web crawlers utilize interior hyperlinks to discover different pages in your website. They additionally utilize hyperlinks that point to your page from different destinations to build the specialist of the locales determined in the outer connections</p>
      </article>
    </div>
  </div><br><br>
  <section class="grey-bg">
    <div class="container">
      <article><br><br>
          <p class="sub-topic">Backlinking</p>
          <p class="mean">There lots of way on how to backlink your site in a way you can be seen by others in a different website or helps you to earn more. A hyperlink is one of the most important elements in search-engine ranking. Search engines use internal hyperlinks to find other pages in your site. They also use hyperlinks that point to your page from other sites to increase the authority of the sites specified in the external links.</p>
      </article>
    </div>
  </section><br><br>






<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script> 
</body>
</html>
